<div class="list-group">
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
   <button id="sendcomments" type="button" class="btn btn-primary btn-block me-2">
       <i class="fa-solid fa-edit me-2"></i>
       Send
   </button>
</div>
<div class="list-group">
    {%if data | is_iter %}
        <ul>
    {% for value in data %}
  <a href={{ value._detail_url }} class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ value.employee_name }}</h5>
      <small>{{ value.id }}</small>
    </div>
    <p class="mb-1">{{ value.content }}</p>
    <small>{{ value.created_at }} UTC</small>
  </a>
    {% endfor %}
    </ul>
    {%else%}
{#    {{ data }}#}
    {%endif%}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
  $("#sendcomments").click(function() {
    const note = $("#comments").val(); // Получить значение из текстового поля "comments"
    const url = "http://127.0.0.1:8000/admin/api/client/action?pks=6&name=add_note&note=" + encodeURIComponent(note);

    fetch(url, {
      method: "POST"
    })
    .then(response => {
      if (response.ok) {
        console.log("LOL");
      } else {
        console.log("LOL");
      }
    })
    .catch(error => {
      console.log("LOL");
    });
  });
});

</script>