{% extends "base.html" %}
{% import "macros/views.html" as macros with context %}
{% if (not _is_login_path) and is_auth_enabled %}
    {% set current_user = (request | get_admin_user) %}
{% endif %}
{% block body %}
    <div class="page">
        <header class="navbar navbar-expand-md navbar-dark d-print-none">
            <div class="container-xl" style="margin-left: 220px;">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar-menu"
                        aria-controls="navbar-menu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand">
                    <a class="brand-link" href="{{ url_for(__name__ ~ ':index') }}">
                        {% if logo_url %}
                            <img src="{{ logo_url }}"
                                 width="110"
                                 height="32"
                                 class="navbar-brand-image"/>
                        {% else %}
                            <h3>{{ title }}</h3>
                        {% endif %}
                    </a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    {% if i18n_config.language_switcher %}
                        <div class="nav-item dropdown">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="icon icon-tabler icon-tabler-language"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     stroke-width="2"
                                     stroke="currentColor"
                                     fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 5h7"></path>
                                    <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
                                    <path d="M5 9c-.003 2.144 2.952 3.908 6.7 4"></path>
                                    <path d="M12 20l4 -9l4 9"></path>
                                    <path d="M19.1 18h-6.2"></path>
                                </svg>
                                {{ get_locale_display_name(get_locale()) }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                {% for lang in i18n_config.language_switcher %}
                                    <a href="#"
                                       class="dropdown-item language-switcher-item"
                                       data-lang="{{ lang }}"
                                       data-cookie-name="{{ i18n_config.language_cookie_name }}">{{ get_locale_display_name(lang) }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if current_user %}
                        <div class="nav-item dropdown ms-3">
                            <a href="#"
                               class="nav-link d-flex lh-1 text-reset p-0"
                               data-bs-toggle="dropdown"
                               aria-label="Open user menu">
                                <span class="avatar avatar-sm"
                                        {% if current_user.photo_url %}
                                      style="background-image: url({{ current_user.photo_url }})"{% endif %}>
                                    {% if not current_user.photo_url %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-user"
                                             width="24"
                                             height="24"
                                             viewBox="0 0 24 24"
                                             stroke-width="2"
                                             stroke="currentColor"
                                             fill="none"
                                             stroke-linecap="round"
                                             stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                        </svg>
                                    {% endif %}
                                </span>
                                <div class="ps-2">
                                    <div>{{ current_user.username }}</div>
                                    <div class="mt-1 small badge bg-green-lt" style="position: static;transform: none">{{current_user.role}}</div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <a href="{{ request.url_for(__name__ ~ ':logout') }}"
                                   class="dropdown-item">{{ _("Logout") }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav" style="margin-left: 65px; margin-right: 65px; padding-top: 0;">
                        {% if (not _is_login_path) and is_auth_enabled %}
                            {% for view in views if view.is_accessible(request) %}
                                {% if (view| is_link) %}
                                    {{ macros.extern_link(view) }}
                                {% elif (view| is_custom_view) %}
                                    {{ macros.custom_link(view) }}
                                {% elif (view| is_model) %}
                                    {{ macros.model_link(view) }}
                                {% elif (view | is_dropdown) %}
                                    {{ macros.dropdown_link(view) }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if is_auth_enabled and current_user is none %}
                            <a href="{{ request.url_for(__name__ ~ ':logout') }}"
                               class="btn btn-light mx-1 mt-2">
                                <i class="fa fa-sign-out"></i>
                                <span class="ms-2">{{ _("Logout") }}</span>
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="page-header d-print-none">
                    {% block header %}{% endblock %}
                </div>
            </div>
            <div class="page-body flex-grow-1">
                <div class="container-fluid">
                    <div class="row row-deck row-cards">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
